@import "bourbon";
@import "sass/vars";
@import "sass/base";

//10 z-index в файле
//loader 9999


//First screen styles
/* Прелоадер */
.loader {
  background:url("img/preload.jpg");
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}
.loader_inner {
  background:url("img/preload.png") no-repeat center;
  background-size: cover;
  height:147px;
  width:241px;
  margin-top: -10px;
  margin-left: -160px;
  left: 50%;
  top: 50%;
  position: absolute;
}

header{
  position: relative;
  overflow: hidden;
    .container{
      margin: 0;
    }
  .top-line{
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.74) 0%, rgba(0,0,0,0.73) 1%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.74) 0%,rgba(0,0,0,0.73) 1%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0.74) 0%,rgba(0,0,0,0.73) 1%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd000000', endColorstr='#00000000',GradientType=0 );


    @include outline(red);
    width: 100%;
    position: absolute;
    top: 0;
    max-height:em(177px);
    z-index: 1;
    .logo{
      @include outline(green);
      margin-top: 30px;
      img{
        display: block;
        margin: 0 auto;
      }
    }
  }

  .top-menu{
    @include outline(yellow);
    top:200px;
    width: 100%;
    position: absolute;
    height: 38px;
    z-index: 2;
    .sync2{
      .owl-wrapper{
        .owl-item{
          &:nth-child(-n+8){
            &::after{
              margin-left:10px;
              content: "";
              border-left: 1px solid $accent;
              position: relative;
              top:-22px;
              right:12px;
            }
          }
        }
        .item{
          a{
            display:block;
            margin: 0 auto;
            text-align: center;
            text-transform: UPPERCASE;
            color: #fff;
            text-shadow: 0px 1px 18px rgba(0, 0, 0, 1);
          }
        }
      }
    }
  }

  .wrapper-home_center{
    background-color: #000;
    .owl-item{
      .it1{
        height: 100%;
        width: 100%;
        div{
          @include transition-duration(1.0s);
          position: absolute;
          top:50%;
          left:5%;
          width: 30%;
          h2{
            margin: 0;
            color: #fff;
          }
          p{
            font-family:$default-roboto;
            color: #fff;
          }
        }

      }
    }
  }
  .bottom-txt{
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );

    @include outline(red);
    height: 104px;
    width: 100%;
    position: absolute;
    z-index: 3;
    bottom: 0;
    p{
      margin-left:5%;
      margin-top: 50px;
      color: #fff;
        span{
          margin-left: 10px;
          i{
            color: $accent;
          }
        }
    }
  }
}




