@import "bourbon";
@import "sass/vars";
@import "sass/base";

//First screen styles
/* Прелоадер */
.loader {
  background:url("img/preload.jpg");
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}
.loader_inner {
  background:url("img/preload.png") no-repeat center;
  background-size: cover;
  height:147px;
  width:241px;
  margin-top: -10px;
  margin-left: -160px;
  left: 50%;
  top: 50%;
  position: absolute;
}

header{
  overflow: hidden;
  .top-line{
    height: 66px;
    .logo{

    }
  }
  .top-menu{
    height: 38px;
  }
  .wrapper-home_center{
    background-size: cover;
    overflow: hidden;
    .owl-item{

      .it1{
        height: 100%;
        width: 100%;
        background: url("img/1bg.jpg") no-repeat center;
        background-size: cover;
      }
      .it2{
        background: url("img/2bg.jpg") no-repeat center;
        background-size: cover;
      }
      .it3{
        background: url("img/3bg.jpg") no-repeat center;
        background-size: cover;
      }
      .it4{
        background: url("img/4bg.jpg") no-repeat center;
        background-size: cover;
      }
    }
  }
}




