@import "bourbon";
@import "sass/vars";
@import "sass/base";

//10 z-index в файле
//loader 9999


//First screen styles
/* Прелоадер */

.loader_inner {
  background:url("img/preload.png") no-repeat center;
  background-size: cover;
  height:197px;
  width:291px;
  margin-top: -10px;
  margin-left: -160px;
  left: 50%;
  top: 50%;
  position: absolute;
}

//Меню adaptive


header{
  position: relative;
  height: auto;
  max-height: 100%;
    .container{
      margin: 0;
    }
  .top-line{
    //background: -moz-linear-gradient(top,  rgba(0,0,0,0.74) 0%, rgba(0,0,0,0.73) 1%, rgba(0,0,0,0) 100%);
    //background: -webkit-linear-gradient(top,  rgba(0,0,0,0.74) 0%,rgba(0,0,0,0.73) 1%,rgba(0,0,0,0) 100%);
    //background: linear-gradient(to bottom,  rgba(0,0,0,0.74) 0%,rgba(0,0,0,0.73) 1%,rgba(0,0,0,0) 100%);
    //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd000000', endColorstr='#00000000',GradientType=0 );


    @include outline(red);
    width: 100%;
    position: absolute;
    top:64px;
    max-height:em(177px);
    z-index: 1;
    .logo{
      @include outline(green);
      margin-top: -65px;
      padding-bottom: 50px;
      background-color: #fff;
      img{
        display: block;
        margin: 0 auto;
        max-width: 100%;
      }
    }
  }

  .top-menu{
    background-color: #fff;
    @include outline(yellow);
    top:170px;
    width: 100%;
    position: absolute;
    height: 38px;
    z-index: 2;

  }

  .menu{
    max-width:1170px;
    margin: 0 auto;
    font-size: 13px;
    line-height: 11px;
    letter-spacing: 0;

    font-weight: 300;
    font-style: normal;
    text-transform: uppercase;
    a{
      font-family: Palatino, sans-serif !important;
      color: #333;
      display: inline-block;
      padding: 10px 10px;
      text-decoration: none;
      &:hover{
        color: $accent;
        @include transition-duration(800ms);
      }
    }
  }
  .wrapper-home_center{
    background-color: #000;
    .owl-item{
      .it1{
        height: 100%;
        width: 100%;


      }
    }
  }
  .module{
    margin-top: 150px;
    .box{
      margin-top: 50px;
      margin-bottom: 10px;
      background-color:#e4e4e4 ;
      height: auto;
      color: #000;
      text-align: center;

      h2{
        a{
          color: #252525;
        }
      }
      p{
        color: #5C5C5C;
      }
      img{
        margin-top:20px;
        max-width: 100%;
      }
      a.button{
        display: inline-block;
        margin-bottom: 20px;
        padding: 5px 50px;
        background-color: #252525;
        color: #fff;
        text-transform: uppercase;
        font-family: 'fontello', sans-serif;
        font-size: em(15px);
        &:hover{
          text-decoration: none;
          background-color: #000;
          @include transition-duration(2.0s);
        }
      }
    }
    .bottom-txt{
      width: 100%;
      position: static;
      bottom: 0 !important;
      p{
        margin-left:0;
      }

    }
  }
}
.bottom-txt{
  //background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
  //background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
  //background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
  //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
  @include outline(red);
  height: 39px;
  width: 100%;
  position: absolute;
  z-index: 3;
  bottom: 0;
  background-color: #fff;

  p{
    width: 320px;
    margin: 0 auto;
    color: #000;
    span{
      margin-left: 10px;
      i{
        color: $accent;
      }
    }
  }
}



