@import "bourbon";

$default-font: "Palatino", sans-serif;
$default-roboto: "RobotoRegular", sans-serif;
$accent:#a78632;
$accent2:#fff;
$accent3:#b9b9b9;
$body:#000;


@mixin outline($color){
  outline:0px solid $color;
}
